<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/about">About</a></li>
    <li class="nav-item"><a href="/blog/">Blog</a></li>
    <li class="nav-item"><a href="/monroe-county-parks">County Parks</a></li>
    <li class="nav-item"><a href="/town-parks">Town Parks</a></li>
    <li class="nav-item"><a href="/rochester-city-parks">City Parks</a></li>
    <li class="nav-item">
      <a href="/blog/what-makes-a-rochester-park-great">Great Parks</a>
    </li>
  </ul>
</nav>
