{{ define "head-styles" }}
  {{ $pageCSS := "scss/index.scss" }}
  {{ $options := (dict "outputStyle" "compressed") }}
  {{ $inlineCSS := resources.Get $pageCSS | css.Sass $options }}
<style>{{ $inlineCSS.Content | safeCSS }}</style>
{{ end }}

{{ define "header" }}
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="/about">About</a></li>
      <li class="nav-item"><a href="/monroe-county-parks">County Parks</a></li>
      <li class="nav-item"><a href="/town-parks">Town Parks</a></li>
      <li class="nav-item"><a href="/rochester-city-parks">City Parks</a></li>
      <li class="nav-item">
        <a href="/blog/what-makes-a-rochester-park-great">Great Parks</a>
      </li>
    </ul>
  </nav>
{{ end }}

{{ define "main" }}
  <h1 class="page-title">{{ .Title }}</h1>
  {{ .Content }}
  {{ partial "county-map.html" }}
{{ end }}
