.boundary {
  fill: #495b5c;
  stroke: #102527;
  stroke-width: 1px;
  stroke-linejoin: round;
}

.boundary-text {
  fill: #102527;
}

.municipality:hover {
  > .boundary-text {
    fill: #efcb5c;
  }

  > .boundary {
    stroke-width: 2px;
  }
}
